@font-face {
    font-family: "Kurale";
    src: url('@/assets/fonts/Kurale-Regular.ttf') format('truetype');
}

body {
    font-family: 'Kurale', sans-serif;
    color: #C7A003;
}

@tailwind base;
@tailwind components;
@tailwind utilities;